
  a {
    text-decoration: none;
    color: #252525;
    font-size: inherit;
  }

  span{
    color:#252525;
  }

  span:hover{
    color:#252525;
  }

  a:hover{
    color:#252525 ;
  }
  
  .social li {
    display: inline;
    padding: 20px;
    font-size: inherit;
  }
  
h1, h2, h3, h4 {
  padding: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.contact-btn {
    margin: 5px;
    font-size: 22px;
    background-color: #afb8c256;
    border-color: transparent;
}

.contact-btn {
  color:#454545;
  background:transparent;
  border-width:2px;
  border-style: solid;
  position:relative;
  margin:1em;
  display:inline-block;
  padding:0.5em 1em;
  transition:all 0.3s ease-in-out;
  text-align:center;
  font-weight:bold;
}

.contact-btn:focus{
   outline: none;
   border: transparent;
   background: transparent;
}
.contact-btn:before, button:after {
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;
    transition:all 0.4s ease-in-out
  }
  .contact-btn:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
  }
  .contact-btn:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
  }
  .contact-btn:hover:before, .contact-btn:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:transparent;
  }
  .contact-btn:hover {
    color:#353535;
    background-color: transparent;
    border-color:#353535;
  }

.btn-border {
  border-color:transparent;
  color:#999
}
.btn-border {
  border-color:transparent;
  background-color:transparent;
  color:#353535
}
.btn-border:before, .btn-border:after {
  border-color:transparent;
}
.btn-border:hover:before, .btn-border:hover:after {
  width:calc(100% + 12px); 
  height:calc(100% + 12px);
  border-color:transparent;
}