:root{
  --navy: rgba(161, 182, 204, 0.953);
  --dark: #252525;
}
  
  a {
    text-decoration: none;
    color: #252525;
    font-size: inherit;
  }

  span{
    color:#252525;
  }

  span:hover{
    color:#252525;
  }

  a:hover{
    color:#252525 ;
  }
  
  .social li {
    display: inline;
    padding: 20px;
    font-size: inherit;
  }
  
h1, h2, h3, h4 {
  padding: 10px;
}

.btn-primary:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.contact-btn {
    margin: 5px;
    font-size: 22px;
    background-color: #afb8c256;
    color: white !important;
    border: 2px solid var(--dark);
}

.contact-btn a:hover {
  color: var(--navy);
}

.contact-btn span:hover{
  color: var(--navy);

}

.contact-btn:hover{
  background-color: var(--dark);
  color: white !important;
  border: 2px solid var(--dark);
}

.contact-btn:disabled:hover {
  background-color: var(--dark);
  color: white!important;
  cursor: wait;
}
