body {
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #252525;
  }

  a:hover{
    color: rgb(129, 121, 121);
  }
  
  #logo {
    background:  #af9fae 100%;
    border-radius: 15px 50px;
    border: solid rgb(49, 48, 48);
    color: #252525;
    padding: 35px 0;
    transition: all .2s ease-in-out; 
    height: 450px;
  }

  #logo:hover {
    border-radius: 15px;
    transform: scale(1.1); 
  }
  
  .social {
    padding-top: 35px;
    padding-left: 0px;
    color: rgb(0, 135, 154);
  }
  
  .social li {
    display: inline;
    padding: 20px;
    font-size: 4rem;
  }
  
  .container {
    width: 100%;
  }

h2, h4 {
  padding: 10px;
}

.jumbo{
  margin-bottom: 12rem;
}

.resume-div {

}

.resume-div a svg{
  margin: 0 auto;
}

.resume-div a span{
}