main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #623caf;
  --secondary: #32385D;
  --tertiary: #0f0533;
  --gradient: radial-gradient(circle, rgba(240,235,238,0.8802871490393032) 0%, rgba(184,197,211,1) 51%, rgba(184,206,230,0.9531162806919643) 105%);

  --dark: #0f0a11;
  --darker: #0a0a0a;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(2.5rem * 1.5);
  --spacing-two: calc(3rem);
  --spacing-five: calc(1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project-icon{
    font-size: 2rem;
    margin: 3.5rem;
    padding: 2rem;
    text-decoration: none;
}

#about {
    display: flex;
    margin: 5px;
    background: var(--gradient);
}

.about-div{
  margin: 5rem;
  align-items: center;
}

h1 {
  font-style: bold;

}

.about-container {
  margin: 5px;
  margin-left: 65px;
  text-align: center;
  line-height: 1.5;
  width: 90%;
  display: inline-block;
}

.bio-content{
  display: flex;
  display: table-cell;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.Bio, .Contact, .Portfolio {
  border-top: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

 .pfp-div{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.pfp-div img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 10rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

figcaption{
  padding: .75rem;
  font-size: 1.25rem;
}

.resume-section{
  border-top: 2px solid;
  padding: 35px;
}

html,
body {
  min-height: 100%;
}

body {
  display: block;
  background: var(--gradient); 
  color: #252525;
  font-size: 18px;
  letter-spacing: .1em;
  font-weight: 550;
  line-height: 1.5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.section-title{
  border-bottom: 2px var(--light);
  font-style: bold;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(121 250 204);
}



.navbar-container{
  align-items: flex-end;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
}

.card-header {
  font-weight: bold;
  margin: auto;
  width: auto;
  font-size: large;
}

.Card-2{
  border: 1px solid #467599;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .25rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  background-color: var();
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.pfp{
  clip-path: circle(50% at 50% 50%);
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  border: 3px solid #0e080d;
  background-color:  #b39baf;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

header {
  background: var(--dark);
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: var(--primary);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header nav ul li a{
  padding: 10px 25px;
}

header nav {
  display: flex;
  margin: 10px 0px;
  flex-direction: row-reverse;
} 

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}


.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}


.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}

.resumeActive {
  color: var(--secondary);
}

.pfp-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.captions {
  font-size: inherit;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  text-align: center;
  margin: 5px;
}

footer ul {
  font-size: 25px;
  display: inline;
}

footer ul li {
  display: inline;
  text-decoration: none;
}

.row{
  margin-top: 2rem;
}

a:hover {
  text-decoration: none;
}

footer ul li a {
  text-decoration: none;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

#contact{
  align-items: center;
  padding-left: 15rem;
}



